.dog-breed-container {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.breed-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.breed-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.breed-item:hover {
  transform: scale(1.05);
}

.breed-image-container {
  margin: 20px 0;
}

input[type="text"],
input[type="file"],
button {
  margin: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #0077b6;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #00557a;
}

img {
  max-width: 500px; /* Set the maximum width to 500 pixels */
  max-height: 500px; /* Set the maximum height to 500 pixels */
}

.form-container {
  margin: auto;
  width: 380px;
  padding: 10px;
}
